html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.tudo {
   min-height:100%;
   position:relative;
   height: auto;
}

.fieldset{
	font-size:14px;
	
}

.panel{
	padding-bottom:20px;
}

.rodape {
   position:relative;
   z-index:10;
   width:100%;
   bottom:0;
   background:#6cf;
}

.conteudo {
	padding-bottom: 30px;
	}